html {
    color: #ddd;
    background-color: #222;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.25rem;
}

a {
    color: #bbddee;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    filter: brightness(0.8);
}

hr {
    width: 100%;
}

.header {
    position: fixed;
    background-color: #222;
    border: 0.1rem solid cadetblue;
    padding: 0.5rem;
    top: 0;
    left: 0;
    margin: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border-block: 1px solid #aaa;
    padding: 0.25rem;
    font-size: 0.9rem;
}

td:nth-child(1) {
    text-align: center;
}

td:nth-child(3) {
    text-align: right;
    width: 3rem;
}

.leaderboards {
    margin-top: 8rem;
    display: flex;
    gap: 2rem;
    width: 100%;
}
.leaderboard {
    min-width: 17rem;
}

.info {
    /* width: 20rem; */
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.info > hr {
    flex: 1;
}
