html {
    color: #ddd;
    background-color: #222;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.25rem;
}

a {
    color: #bbddee;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    filter: brightness(0.8);
}

hr {
    width: 100%;
}

.header {
    position: fixed;
    background-color: #222;
    border: 0.1rem solid cadetblue;
    padding: 1rem;
    margin: 1rem;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    box-sizing: border-box;
    /* left: 50%;
    transform: translate(-50%); */

    display: flex;
    gap: 2rem;

    min-width: max-content;
}
.header h3 {
    margin: 0rem;
}
.header h4 {
    margin: 0rem;
}

.block1 {
    display: flex;
}
.main-info {
    align-self: center;
    min-width: 6rem;
}
.main-info > hr {
    flex: 1;
}

.info-list {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-top: 0.45rem;
    margin-bottom: 0.4rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.leaderboard td {
    border-block: 1px solid #aaa;
    padding: 0.25rem;
    font-size: 0.9rem;
}

.leaderboard td:nth-child(1) {
    text-align: center;
}

.leaderboard td:nth-child(3) {
    text-align: right;
    width: 3rem;
}

.leaderboards {
    display: flex;
    gap: 2rem;
    width: 100%;
    margin-top: 6.5rem;
}
.leaderboard {
    min-width: 18rem;
}

#citizens {
    width: fit-content;
}
#citizens th {
    width: 5rem;
    text-align: left;
}

#citizens .citizen-cell {
    padding: 0.25rem 0.5rem;
    width: 3.5rem;
    border: 1px solid #aaa;
    text-align: right;
    text-align: center;
}
.citizen-level {
    text-align: center;
    color: gray;
    font-weight: bold;
    font-size: 0.8rem;
}

h4 {
    margin-block: 1rem;
}

.listing {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.citizen-count {
    color: gray;
    margin-left: 0.5rem;
}

.block3 {
    align-self: center;
}

.block2 {
    transform: translate(0, -0.5rem);
}
.block-group {
    display: contents;
}

@media screen and (max-width: 1300px) {
    .block-group {
        display: block;
    }
    .leaderboards {
        margin-top: 8rem;
    }
}
